.chiTietPhongVe {
  background-color: rgba(0, 0, 0, 0.75);
}

.bookedAnotherUser {
  background-color: rgb(85, 84, 84) !important;
  pointer-events: none;
}

.gheVip {
  background-color: rgb(245, 158, 11) !important;
}

.booking {
  background-color: green !important;
  color: white;
}

.booked {
  background-color: red !important;
  color: white;
  pointer-events: none;
}
